{% extends 'base.html' %} {% block content %}
<div class="detail">
  <h3>{{blog.title}}</h3>
  <p>{{blog.body}}</p>
  <p class="date">{{blog.date | date:"Y년 n월 j일 G시 i분"}}</p>
  <div class="btn">
    <a href="{% url 'update' blog.pk %}">수정</a>
    <a href="{% url 'delete' blog.pk %}">삭제</a>
  </div>
</div>
<hr />
<h3>댓글창</h3>
{%for comment in blog.comments.all %}
<div class="detail">
  <strong>{{comment.body}}</strong>
  <p class="date">{{comment.date | date:"Y년 n월 j일 G시 i분"}}</p>
  <hr />
</div>
{% empty %}
<p>댓글이 없습니다</p>
{% endfor %}

<form action="" method="POST">
  {% csrf_token %} {{ comment_form.as_p }}
  <input type="submit" value="등록" />
</form>
<br />
{% endblock %}
