@import "reset.css";
/* FONT */
@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ebf0f1;
}

/* header */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: #092e20;
  color: white;
}

header h1 {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-family: "CookieRunOTF-Bold";
}
header a {
  all: unset;
  color: white;
  cursor: pointer;
}

header .dslion {
  margin-left: auto;
  width: 50px;
  margin-right: 1em;
}
/* section*/
section {
  width: 70%;
}

/* footer */

footer {
  background-color: #44b78b;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}
footer p {
  font-size: 8pt;
  color: #ebf0f1;
}

/* 공통 요소 */

h3 {
  color: #0c4b33;
  font-size: 2rem;
}

.date {
  font-size: 9pt;
  color: gray;
}

/* home.html */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dashed #092e20;
  margin: 1em 1em;
}

.home p {
  flex-basis: auto;
  word-break: break-all;
  margin: 1em;
}
.home a {
  all: unset;
  color: #0c4b33;
  font-size: 2rem;
  cursor: pointer;
}

.preview {
  font-size: 9pt;
  color: gray;
  margin-bottom: 0px;
}

/* create.html */
#id_title,
#id_body {
  background: none;
  appearance: none;
  border: 0;
  color: black;
  border-bottom: 1px solid black;
  margin-top: 1em;
}

#id_title {
  font-size: 20px;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

#id_body {
  font-size: 15px;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}

/* detail.html */

.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.btn a {
  all: unset;
  color: gray;
  margin: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
.btn a:hover {
  color: #44b78b;
}

.detail p {
  margin: 1em;
  word-break: break-all;
}

/* create.html update.html */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: white;
  color: #44b78b;
  border: 1px solid #44b78b;
  border-radius: 5px;
  font-size: 12pt;
}

input:hover {
  background-color: #44b78b;
  color: white;
  border: 1px solid #44b78b;
}
