@import "reset.css";
/* FONT */

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff');

.NeoDunggeunmo * {
  font-family: 'NeoDunggeunmo';
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "NeoDunggeunmo";
  background-color: #D2D9D5;
}

/* header */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: #18B5D9;
  color: #18298C;
}

header h1 {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-family: 'NeoDunggeunmo';
}
header a {
  all: unset;
  color: white;
  cursor: pointer;
}

header .dslion {
  margin-left: auto;
  width: 50px;
  margin-right: 1em;
}
/* section*/
section {
  width: 70%;
}

/* footer */

footer {
  background-color: #89A67C;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}
footer p {
  font-size: 8pt;
  color: #18298C;
}

/* 공통 요소 */

h3 {
  color: #F8E6E0;
  font-size: 2rem;
}

.date {
  font-size: 9pt;
  color: black;
}

/* home.html */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dashed #F8E6E0;
  margin: 1em 1em;
}

.home p {
  flex-basis: auto;
  word-break: break-all;
  margin: 1em;
}
.home a {
  all: unset;
  color: #F8E6E0;
  font-size: 2rem;
  cursor: pointer;
}

.preview {
  font-size: 9pt;
  color: black;
  margin-bottom: 0px;
}

/* create.html */
#id_title,
#id_body {
  background: none;
  appearance: none;
  border: 0;
  color: #18298C;
  border-bottom: 1px solid black;
  margin-top: 1em;
}

#id_title {
  font-size: 20px;
  align-items: center;
  font-family: 'NeoDunggeunmo';

#id_body {
  font-size: 15px;
  align-items: center;
  font-family: 'NeoDunggeunmo';
}

/* detail.html */

.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.btn a {
  all: unset;
  color: #18298C;
  margin: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
.btn a:hover {
  color: #18298C;
}

.detail p {
  margin: 1em;
  word-break: break-all;
}

/* create.html update.html */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: white;
  color: #44b78b;
  border: 1px solid #44b78b;
  border-radius: 5px;
  font-size: 12pt;
}

input:hover {
  background-color: #44b78b;
  color: white;
  border: 1px solid #44b78b;
}
