{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Comment 기능 구현하기</title>
  </head>
  <body>
    <header>
      <a href="{% url 'home' %}"><h1>HOME</h1></a>
      <a href="{% url 'login' %}"><h1>LOGIN</h1></a>
      <a href="{% url 'signup' %}"><h7>signup<h7></a>
      <a href="{% url 'create' %}"><h1>CREATE</h1></a>
      <img class="dslion" src="{% static 'likelionds.png' %}" alt="" />

      {% if request.user.is_authenticated %}
          <a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
            <form id="logout" method="POST" action="{% url 'logout' %}">
                  {% csrf_token %} <input type="hidden" />
            </form>        
      {%endif%}           

      
      
    </header>
    <section>{% block content %} {% endblock %}</section>
    <footer>
      <p>Copyright ⓒ 2020 덕성여대 멋쟁이사자처럼 All rights reserved.</p>
    </footer>
  </body>
</html>
